@page
@model TestDevPageModel

<form method="post">
    <button type="submit" asp-page-handler="AddTestUser">Add Test User</button>
    <button type="submit" asp-page-handler="RemoveTestUsers">Remove Test Users</button>
</form>
