@page
@model ReceptHemsida.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<div class="reg-container">

<form class="reg-form" method="post">
      
            <p class="reg-title">Login</p>

            <label>
                <input asp-for="Input.UsernameOrEmail" required />
                <span>Email</span>
            </label>

            <label>
                <input asp-for="Input.Password" type="password" required />
                <span>Password</span>
            </label>

            <div class="remember-me">
                <input type="checkbox" asp-for="Input.RememberMe" id="RememberMe" />
                <label for="RememberMe">Remember Me</label>
            </div>

            <button class="submit" type="submit">Login</button>
  </form>
</div>

   
@if (!ViewData.ModelState.IsValid)
{
    <p style="color: red;">Invalid login attempt.</p>
}
