@page
@model ReceptHemsida.Pages.TestModel
@{
    
}

<form method="post">
    <button type="submit" class="btn btn-primary" asp-page-handler="CreateDummyRecipes">Create Dummy Recipes</button>
</form>
