@page
@inject SignInManager<ReceptHemsida.Data.ApplicationUser> SignInManager
@inject UserManager<ReceptHemsida.Data.ApplicationUser> UserManager

@model ReceptHemsida.Pages.UserSettingsModel
@{
}

@if (SignInManager.IsSignedIn(User))
{
    var currentUser = await UserManager.GetUserAsync(User);
    <p>Username: @currentUser.UserName</p>
    <p>Email: @currentUser.Email</p>
}

<div>
    <form method="post" asp-page="/ChangePassword">
        <div>
            <input type="password" id="currentPassword" name="CurrentPassword" placeholder="Current password" required />
            <input type="password" id="newPassword" name="NewPassword" placeholder="New password" required />
            <input type="password" id="confirmPassword" name="ConfirmPassword" placeholder="Confirm password" required />
            <button type="submit">Save Changes</button>
        </div>
    </form>
    
    @if (Model.CurrentPasswordWrong)
    {
        <p style="color: red;">Current password isn't correct.</p>
    }

    @if (Model.PasswordUnmatched)
    {
        <p style="color: red;">Passwords are not matching.</p>
    }

    @if (Model.PasswordChanged)
    {
        <p style="color: green;">Password successfully changed!</p>
    }
</div>